
a:hover{
    color: gray;
}
/*
.design{
    margin: 100px;
} */
ul li{
    display: inline;
    
    list-style-type: none;
    
    padding: 20px;
    
}
ul{
    display: inline;
    
    
    height: 300px;
    width: 200px;
    font-size: 20px;
    line-height: 20px;
    vertical-align: middle;
    margin-left: 100px;
}
img{
    vertical-align: middle;
    height: 100px;
    width: 150px;
}
