
a:hover{
    color: gray;
}

.design{
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
} 
ul li{
    display: inline;
    padding: 25px;
    list-style-type: none;
    
    
    
}
ul{
    display: inline;
    
    
    height: 300px;
    width: 200px;
    font-size: 20px;
    line-height: 20px;
    vertical-align: middle;
    margin-left: 180px;

}
.logo{
    vertical-align: middle;
    height: 50px;
    width: 100px;
    margin-left: 35px;
}
/*
.nav{
    background-color: rgb(6, 7, 8);
} */
ol li{
    list-style-type: none;
    display: inline;

}
body{
    margin: 0px;
}
.sizing{
    height: 300px;
    width: 250px;
    padding: 10px;
   
    margin-top: 40px;
    margin-left: 90px;
    
    
    border: 1px solid black;
    background-color: lightblue;
    
}

.photo-text{
    
    font-size: 20px;
    padding: 90px;
    margin-left: 100px;
    
}
.background{
    width: 1280px;
    height: 720px;
}


