
a:hover{
    color: gray;
}

.design{
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
} 
.navigation .nav{
    display: inline;
    padding: 25px;
    list-style-type: none;
    
    
    
}
.navigation{
    display: inline;
    height: 300px;
    width: 200px;
    font-size: 20px;
    line-height: 20px;
    vertical-align: middle;
    margin-left: 180px;

}
.logo{
    vertical-align: middle;
    height: 50px;
    width: 100px;
    margin-left: 35px;
}

ol li{
    list-style-type: none;
    display: inline;

}
body{
    margin: 0px;
}
.sizing{
    height: 300px;
    width: 250px;
    padding: 10px;
   
    margin-top: 40px;
    margin-left: 90px;
    
    
    border: 1px solid black;
    background-color: lightblue;
    
}

.photo-text{
    
    font-size: 20px;
    padding: 90px;
    margin-left: 100px;
    
}
.background{
    width: 1280px;
    height: 720px;
}

/*
footer{
    margin-top: 20px;
}
.foot{
    border-right: solid black 3px;
    width: 200px;
    margin-left: 80px;
    margin-right: 60px;
    
}
.foot-2{
    display: inline;
    width: 200px;
}
.foot-links{
    width: 220px;
   
    margin: 0px;
}
*/
.foot-links .foot-links2{
    
    display: inline;
    
    padding: 20px;
    list-style-type: none;
    margin-left: 200px;
    

    
}
.foot-links{
    margin-top: 150px;
}

.foot-links2{
    
    width: 50px;
    height: 50px;
    
}
.footbar-links{
    width: 200px;
    margin: 0 auto;
}
.foot2{
    display: inline;
}
.resized{
    height: 40px;
    width: 40px;
}
#bar1{
    
    width: 33%;
    float: right;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;

}
#bar2{
    vertical-align: middle;
    display: inline-block;
    width: 33%;
    margin-left: 70px;
}
.footers{
    background-color: lightgray;
    margin-top: 100px;
    padding-top: 50px;
    padding-bottom: 30px;
}
.link-style{
    color: black;
    text-decoration: none;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navigation-bar{
    background-color: lightgray;
}
.text-styling{
    margin-left: 100px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header-styling{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: 40px
}
.intro-styling{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: 18pmx;
}
.short-bio{
    
    
    
}